.category{
    font-size: 3em;
    text-align :center;
    border: black solid 3px;
    height: 70%;
}
.center{
    display: flex;
    justify-content: center;
}
.title{
    border: black solid 3px;
}
.title h1{
    font-size: 10rem;
}
.setsContainer{
    height: 25vh;
    font-size: 100%;
}
