

/* Login Page */

body {
    height: 100vh;
    width: 100vw;
}

.nav-wrapper {
    text-align: center;
}

nav {
    height: 60px;
}

.main-title {
    color: white;
    height: 10%;
    font-size: 2em;
}

.body-container {
    height: 90%;
    background-color: #fafafa;
    display: flex;
}

.sign-up-container {
    display: flex;
    width: 75%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    top: 20%;
}

.sign-up, .log-in {
    width: 100%;
}

.home-buttons{
    justify-content: center;
    display: block;
    margin: 2em 0;
    width: 85%;
}

/* Sets Page */

.category{
    font-size: 3em;
    text-align :center;
    border: black solid 3px;
    height: 70%;
}
.center{
    display: flex;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.title{
    border: black solid 3px;
}
.title h1{
    font-size: 10rem;
}
.setsContainer{
    height: 25vh;
    font-size: 100%;
}
.displayBox{
    border: black solid 3px;
    width: 85vw;
    height: 75vh;
    font-size: 10em;
}
.arrow-nav{
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 20%;
}
.fraction{
    border: black solid 3px;
    height: 80%;
    width: 70%;
}
