.category{
    font-size: 3em;
    text-align :center;
    border: black solid 3px;
}

.left-section{
    display:inline-block;
    width:30%;
    vertical-align:top;
}

.right-section{
   
    display:inline-block;
    width:69%;
}
.user-icon{
    border-radius: 50%;
    background-color:#81C784;
    display:inline-block;
    width:100%;
    height:100%;   
}
img{
    width:50%;
    height:50%;   
}

.user-name{
    display:block;
    font-size: 3em;
    margin:0 auto;
}

.sort{
    display:inline-block;
    font-size: 3em;
}

.sort-display{
    display:inline-block;
    font-size: 3em;
}

.sort-display-latest{
    display:inline-block;
    font-size: 3em;
    border:1px solid #81C784;
}

.latest{
    display:inline-block;
    border:1px solid #81C784;
}
.alphabetical{
    display:inline-block;
    border:1px solid #81C784;
}

.form{
    background-color:white;
    margin:0 auto;
}

.modal .modal-footer{
    text-align: center;
}
