.cardContainer{
    display: flex;
    flex-direction: row;
}
.back, .front{
    width: 45%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.title{
    border: 3px solid black;
}
.trashContainer{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}