.card {
    transition: initial;
}

.centerCard{
    display: flex;
    justify-content: center;
}
.cardflip{
    transform-style: preserve-3d;
    transition-duration: 1s;
    perspective: 1000px;
    position: relative;
}
.front, .back {
    position: absolute;
    backface-visibility: hidden;
}
.front{
    z-index: 2;
}
.back{
    transform: rotateY(180deg);
}
.flipped {
    transform: rotateY(180deg);
}
