/* Flashcard Generation Page */

.card{
    max-height: 350px;
    height: 400px;
}

.row {
    display: flex;
}

.col.s2.card-container{
    align-items: center;
    display: flex;
}

.card-panel.red.lighten-2 {
    width: 100%;
}

.buttonDiv > *{
    margin: 0 10px;
}