/* inputDefinition Component CSS */
.container h1 {
    color:white;
    font-size: 3em;
    display: flex;
    justify-content: center;
}


.buttonDiv {
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.buttonDiv .btn-large  {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 450px;
}

#modal-textarea1, #modal-textarea2 {
    color:white;
}
