/* Inside Profile Container */

.profile-container{
    display: flex;
    flex-direction: column;
}

.profile-section {
    max-height: 200px;
}

.profile-pic{
    height: 100%;
    width: 100%;
}

.avatar-text {
    font-size: 4vw;
}

.row > .btn {
    width: 200px;
    margin: 10px;
}

.row {
    margin: 0;
    justify-content: center;
}

/* Inside Sort Row */

.sort-row {
    align-items: center;
    justify-content: flex-start;
}

.sort-button {
    margin: 0 10px;
}

/* Inside Card Container */

.card-container > * {
    display: block;
}

/* Inside Category section */

.category-info {
    flex-direction: column;
}

/* Getting the button to change color */

.button.btn-small.soft-blue.sort-button:active {
    background-color: #6db0cf;
}

.soft-blue {
    background-color: #81d4fa;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{
    background-color: #6db0cf;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: #6db0cf;
}