.profile-container{
    display: flex;
    flex-direction: column;
}

.row > .btn {
    width: 200px;
    margin: 10px;
}

.row {
    margin: 0;
    justify-content: center;
}

.profile-heading {
    display: flex;
    margin: 10px 0;
    flex-direction: column;
}

.button-profile-heading {
    flex-direction: row;
    display: flex;
}

.button-profile-heading > button{
    margin-right: 10px;
}