.main-title{
    font-size: 3.5rem;
    text-align: center;
}

img.developer{
    width: 50%;
    height:0%;
    left: 25%;
    position: relative;
    border-radius: 10%;
}

img.icon{
    width: 10%;
    height:0%;
    margin:10px;
    color:white;
}

.name{
    text-align:center;
}

.iconDiv{
    text-align:center;
}

.description{
    text-align:center;
}

.developer-container{
    background-color:bisque;
}