

.card{
    max-height: 500px;
    height: 350px;
}

.text-inside-card {
    max-height: 500px;
    height: 150px;
}

.frontText, .backText {
    word-wrap: break-word;
    overflow: hidden;
}

.row {
    display: flex;
}

.flashcard-row {
    margin: auto;
}

.col.s2.card-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-panel.red.lighten-2 {
    width: 100%;
}

.buttonDiv > *{
    margin: 0 10px;
}

.card-panel > i {
    margin: 0 auto;
}

.card-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red.btn.delete-btn {
    width: 100%;
}

.btn-large{
    padding: 0 5px;
}

.card-container .btn-large i{
    font-size: 2.5rem;
}

.gif{
    width: 75%;
    height: 75%;
}

.btn-large i {
    margin: 0;
}


@media only screen and (max-width: 325px) {
    .card-container .btn-large i {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .terms{
        font-size: 75%;
        position: relative;
        left: 5%;
        top: 20%;
    }

    .flashcard-container > h2 {
        font-size: 1.8rem;
    }

    .flashcard-container > h3 {
        font-size: 1.6rem;
    }
} 

@media only screen and (min-width: 600px){
    .delete-box > button.red {
        height: 100px;
        width: 70%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

