img{
    width: 100%;
}

.mainContainer{
    height: 100%;
    width: 100%;
    background-color:#314256
}

p{ 
    font-size: 1.2em;
    margin: 15 0px;
}

body{
    background-color:#314256;
}

input[type=password]:not(.browser-default){
    color: white;
}  

.hop {
    top: 64px;
    animation: hop 1s linear;
    animation-iteration-count: 3;
    animation-delay: .5s;
}

@keyframes hop {
    0% {
        top: 64px;
    }
    50% {
        top: 9%;
    }
    100% {
        top: 64px;
    }
}

@media screen and (min-width: 601px) {
    .landingLogo{
        position: relative;
        top: 0px;
        z-index: 1;
        width: 100%;
    }
    .kangaroo{
        position: absolute;
        right: 25%;
        z-index: 1;
        width:90%;
        left: 0%;
    }
  }  
@media screen and (min-width: 630px) {
    .landingLogo{
        position: relative;
        top: 0px;
        z-index: 1;
        width: 50%;
    }
    .kangaroo{
        position: absolute;
        left: 25%;
        z-index: 1;
        width: 45%;
  }
}
@media screen and (min-width: 993px) {
    .landingLogo{
    position: relative;
    top: 0px;
    z-index: 1;
    width: 65%;
    }
    .kangaroo{
        position: absolute;
        left: 25%;
        z-index: 1;
        width: 45%;
        
  }
}

@media screen and (min-width: 1030px) {
    .landingLogo{
        position: relative;
        top: 0px;
        z-index: 1;
        width: 65%;
    }
    .kangaroo{
        position: absolute;
        left: 25%;
        z-index: 1;
        width: 45%;
        
  }
}

@media screen and (min-width: 1200px) {

    .landingLogo{
    position: relative;
    top: 0px;
    z-index: 1;
    width: 50%;
    }
    .kangaroo{
        position: absolute;
        left: 30%;
        z-index: 1;
        width: 35%;
        
    }
  }  

@media screen and (max-width: 600px) {
 
.landingLogo{
    position: relative;
    top: 0px;
    z-index: 1;
    } 

.kangaroo{
    position: absolute;
    left: 0%;
    z-index: 1;
    width: 94%;
    }  
} 

