.nav_bar{
    font-family: 'Gochi Hand', cursive;
}

.main-nav {
    padding: 0 12px;
}

.nav-links {
    position: absolute;
    top: 0;
    right: 0;
}

.logo-large{
    width:5%;
    height:0%;
}

.logo{
    width:5%;
    height:0%;
}

@media screen and (max-width: 1200px) {
    .logo{
        width:5%;
        height:0%;
    }
  }


@media screen and (max-width: 992px) {
    .logo{
        width: 7%;
        height: 0%;
        position: relative;
        top: 0px;
    }
    .nav-container{
        text-align: center;
    }
  }

@media screen and (max-width: 600px) {
    .logo{
        width: 15%;
        height: 0%;
        right: 3%;
        top: 3px;
    }
  }
@media screen and (max-width: 400px) {
    .logo{
        width: 15%;
        right: 0%;
        top: 0px;
    }
    .pocket-cards {
        font-family: 'Baloo Chettan', cursive;
        color: white;
        font-size: 68%;
        vertical-align: top;
    }
  }
@media screen and (min-width: 601px) {
    .logo-large{
        width: 13%;
        height: 0%;
        right: 2%;
        position: relative;
        top: 3px;
    }
  }
  @media screen and (min-width: 993px) {
    .logo-large{
        width: 5%;
        height: 0%;
        position: relative;
        right: 0.5%;
  }
}

span{
    font-family: 'Baloo Chettan', cursive;
    color:white;
    font-size: 85%;
    vertical-align:top;
}

.main-nav{
    background-image: linear-gradient(#212121, #263238);
    background-color: black;
}

.navy {
    background-color: #314256;
}

.sidenav-header{
    padding: 5% 0 5% 0;
}

.sidenav-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav {
    max-width: 250px;
}