
.profile-container{
    display: flex;
    flex-direction: column;
}

.profile-section {
    max-height: 200px;
    margin: 1em 0;
    display: flex;
}

.profile-pic{
    height: 100%;
    width: 90%;
}

.profile-section-img{
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.profile-section-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar-text {
    font-size: 2em;
    align-items: center;
    color:white;
}

.avatar-box {
    display: flex;
    align-items: center;
}

.row > .btn {
    width: 44%;
    margin: 10px;
}

.row {
    margin: 0;
    justify-content: center;
}


.sort-row {
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.sort-button {
    margin: 0 10px;
}


.card-container > * {
    display: block;
}


.category-info {
    flex-direction: column;
}

.category-container {
    margin: 0;
}


.btn-small.dark-blue.sort-button{
  
    background-color: #81d4fa; 
    box-shadow:2px 3px 6px 0px rgb(0, 0, 0);
}

.btn, .btn-large, .btn-small{
    background-color: #81d4fa;  
    
}

.soft-blue {
    background-color: #81d4fa; 
    opacity: 0.5;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{
    background-color: #6db0cf;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: #6db0cf;
    
}


.sets-bold-text {
    font-size: 1.3rem;
    font-weight: bold;
}

.button-bold-text {
    font-size: 1rem;
    font-weight: bold;
}

.create-category-bold-text {
    font-size: 2rem;
    font-weight: bold;
}

.categoryDiv{
    margin-left: 3%;
}

.category{
    height:6rem;
}

.delete-container{
    position: relative;
    top: 0.5rem;
    left: 3%;
    
}

.delete{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-container.btn-large {
    height: 6rem;
    width: 22%;
}

.avatar_name {
    font-size: 1.3rem;
    margin: 10px 0;
}

.avatar_box_shadow {
    transition: box-shadow .3s;
    height: 60px;
    width: 60px;
    margin: 10px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

.avatar_box_shadow:hover {
    box-shadow: 0 0 30px #000; 
}

.cog-img {
    position: relative;
    height: 35%;
    width: 35%;
    top: 33%;
    left: 100%;
}

@media screen and (min-width: 1145px) {
    .profile-pic {
        height: 100%;
        width: 80%;
    }
}
@media screen and (min-width: 1150px) {
    .cog-img {
        position: relative;
        height: 35%;
        width: 35%;
        top: 33%;
        left: 90%;
        z-index: 1;
    }
}

@media screen and (min-width: 1200px) {
    .profile-pic {
        height: 100%;
        width: 70%;
        position:relative;
        right:20%;
    }
    .cog-img {
        position: relative;
        height: 50%;
        width: 35%;
        top: 33%;
        left: 65%;
        z-index: 1;
    }
}
