.loading-container{
    display: flex;
    height: 50vh;

}

.preloader-wrapper{
    margin:auto;
}

.set > .blue.darken-3 {
    width:90%;
    height: 58px;
    /* font-size: 1.5em; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-container .wide-btn{
    width: 100%;
}

.row.set {
    width: 98%;
    margin: 0;
    display: flex;
    align-items: center;
}

/* .delete-button{
  
    height: 4rem;
    padding: 0 20px;
    margin-left: 30%;
    
} */

.row.set > a {
    display: flex;
    align-items: center;
}

.set .btn-large{
    padding: 0 5%;
}

/* @media screen and (max-width: 1200px) {
    .terms{
        margin-left: 26.5rem;
        margin-right: -0.75rem;
    }
  }

@media screen and (max-width: 992px) {
    .terms{
        margin-left: 17.5rem;
        margin-right: -0.75rem;
    }
  }

@media screen and (max-width: 600px) {
    .terms{
        margin-left: 9.5rem;
        margin-right: -0.75rem;
    }
  } */

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .terms{
        margin-left: 5.5rem;
        margin-right: -0.75rem;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .terms{
        margin-left: 17.5rem;
        margin-right: -0.75rem;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .terms{
        margin-left: 40.5rem;
        margin-right: -0.75rem;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}