.loading-container{
    display: flex;
    height: 50vh;

}

.preloader-wrapper{
    margin:auto;
}

.set > .blue.darken-3 {
    width:90%;
    height: 58px;
    /* font-size: 1.5em; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-container .wide-btn{
    width: 100%;
}

.row.set {
    width: 90%;
    margin: 0;
    display: flex;
    align-items: center;
}

.row .red.lighten-2{
  
    height: 4rem;
    padding: 0 20px;
    margin-left: 30%;
    
}

.row.set > a {
    display: flex;
    align-items: center;
}
 